.table {
    border-collapse: separate;
    border-spacing: 2px;
}

.row {
}
.row:first-child {
    background: rgba(0, 0, 0, 0);
}
.row:nth-child(2n + 2) {
    background: rgba(0, 0, 0, 0.08);
}
.row:nth-child(2n + 3) {
    background: rgba(0, 0, 0, 0);
}
.row:hover {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    cursor: hand;
}

.cell {
    min-width: 30px;
    padding: 20px 32px;
}
