.tablecontainer {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table {
    border-collapse: separate;
    border-spacing: 0px;
}
.table th {
    position: sticky;
    top: 0px;
}

.row {
    /* position: relative; */
    cursor: pointer;
    cursor: hand;
    height: 60px;
    transition: 0.1s ease background, 0.3s ease height;
}
.row:first-child {
    background: rgba(0, 0, 0, 0);
}
.row:nth-child(2n + 2) {
    /* background: rgba(0, 0, 0, 0.08); */
}
.row:nth-child(2n + 3) {
    background: rgba(0, 0, 0, 0);
}
.row:hover,
.row:active {
    background: var(--color-strongest);
}
.row.open {
    height: 180px;
}
.headercell {
    min-width: 0px;
    height: 60px;
    /* padding: 0px 20px; */
    text-align: left;
}
.cell {
    min-width: 0px;
    /* padding: 20px 0px; */
    vertical-align: top;
    height: 60px;
}

.cell:first-child {
    padding-left: 6px;
}
