@keyframes move-in-steps {
    0% {
        width: 10px;
        background: green;
    }
    100% {
        width: 100px;
        background: red;
    }
}

.block {
    display: inline-block;
    background: yellow;
    width: 10px;
    height: 10px;
    animation: move-in-steps 2s steps(8, start) infinite;
}
