.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
    display: flex;
    justify-content: end;
    overflow: auto;
    transition: 0.2s cubic-bezier(0.75, 0.25, 0.25, 0.75) transform;
}

.content {
    pointer-events: auto;
    transform: translateX(100%);
    transition: 0.3s cubic-bezier(0.75, 0.25, 0.25, 0.75) all;
    background: var(--color-stronger);
}

.content.open {
    transform: translateX(0);
}

.backdrop {
    position: fixed;
    z-index: 101;
    background: rgba(0, 0, 0, 0.2);
}
