.item {
    width: 42px;
    height: 42px;
    /* border-radius: 32px; */
    box-sizing: border-box;
    transition: 0.1s ease border;
    cursor: pointer;
    cursor: hand;
}

.item:hover {
    border-bottom: 2px solid var(--color-dim);
}
