.bg {
    background-image: url('../../assets/bg2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;

    background-repeat: no-repeat;
    /* background-size: 100% 100%; */

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0.2; */
    /* filter: brightness(1.1) saturate(0);
    mix-blend-mode: multiply; */
}

.cover {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-stronger);
}
