.bg {
    background-image: url('../../assets/bg2.svg');
    background-size: 4000px;
    pointer-events: none;

    background-repeat: no-repeat;
    background-position: bottom left;
    /* background-size: 100% 100%; */

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: 0.2; */
    /* filter: brightness(1.1) saturate(0);
    mix-blend-mode: multiply; */
}

@media only screen and (max-width: 1400px) {
    .bg {
        background-size: 1600px;
    }
}

.cover {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-stronger);
}

.abstract {
    background-image: url('../../assets/abstract.svg');
    background-size: 100%;
    pointer-events: none;

    background-repeat: no-repeat;
    background-position: bottom left;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
